<% @friend_requests.each do |request| %>
	<h4><%= link_to "#{request.user.first_name} #{request.user.last_name}", user_path(request.user_id) %></h4>
	<p><%= "#{request.user.email}" %></p>
	<p><%= "#{request.user.birthday}" %></p>
	<p><%= "#{request.user.location}" %></p>
	<%= form_tag("/users/accept_friend_request", method: "put") do |f| %>
		<% hidden_field_tag("friendship_id", request.id) %>
		<%= submit_tag("Accept Request") %>
	<% end %>
	<%= form_tag("/users/reject_friend_request", method: "put") do |f| %>
		<% hidden_field_tag("friendship_id", request.id) %>
		<%= submit_tag("Reject Request") %>
	<% end %>
<% end %>