<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<p><%= "#{@user.email}" %></p>
<p><%= "#{@user.birthday}" %></p>
<p<%= "#{@user.location}" %>></p>

<h3>A list of Statuses</h3>
<%= @statuses.each do |s| %>
	<%= s.status %>
	<%= s.created_at %>
	<br/>
<%= end %>