<%= form_tag "/users/search", method: "GET" do |f| %>
	<%= label_tag(:search, "Search for:") %>
	<%= text_field_tag(:search, params[:search]) %>
	<%= submit_tag("Search") %>
<% end %>

<% @list.each do |user| %>
	<div class="profile">
		<h4><%= "#{user.first_name} #{user.last_name}" %></h4>
		<p><%= "#{user.email}" %></p>
		<p><%= "#{user.birthday}" %></p>
		<p><%= "#{user.location}" %>></p>
	</div>
	<% if !@user.is_friend?(user.id) %>
		<%= form_tag("/users/friends_add", method: "post") do |f| %>
			<%= f.hidden_field_tag("friend_id", params[:id]) %>
			<%= submit_tag("Add As Friend") %>
		<% end %>
	<% elsif @user.is_friend?(user.id) %>
		<%= form_tag("/users/friends_remove", method: "post") do |f| %>
			<%= f.hidden_field_tag("friend_id", params[:id]) %>
			<%= submit_tag("Remove Friend") %>
		<% end %>

	<% end %>
<% end %>