<%= form_tag "/users/search", method: "GET" do |f| %>
	<%= label_tag(:search, "Search for:") %>
	<%= text_field_tag(:search, params[:search]) %>
	<%= submit_tag("Search") %>
<% end %>

<% @list.each do |user| %>
	<div class="profile">
		<h4><%= link_to "#{user.first_name} #{user.last_name}", user_path(user.id) %></h4>
		<p><%= "#{user.email}" %></p>
		<p><%= "#{user.birthday}" %></p>
		<p><%= "#{user.location}" %></p>
	</div>
	<% if current_user.id != user.id %>
		<% if !Friendship.is_friend?(current_user.id, user.id) %>
			<%= form_tag("/users/friends_add", method: "post") do |f| %>
				<% hidden_field_tag("friend_id", user.id) %>
				<%= submit_tag("Add As Friend") %>
			<% end %>
		<% elsif Friendship.is_friend?(current_user.id, user.id) %>
			<%= form_tag("/users/friends_remove", method: "post") do |f| %>
				<% hidden_field_tag("friend_id", user.id) %>
				<%= submit_tag("Remove Friend") %>
			<% end %>
		<% end %>
	<% end %>
<% end %>