<!DOCTYPE html>
<html>
<head>
  <title>Bewd19FinalProjectEasolom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<% if user_signed_in? %>
    <p><%= link_to "Sign out", destroy_user_session_path, method: :delete %> | 
    	<%= link_to "Edit User", edit_user_registration_path %></p>
    <p>
    	<%= link_to "Home Feed", root_path %> |
    	<%= link_to "Profile", user_path(current_user.id) %> |
    	<%= link_to "Search", users_search_path %> |
    	<%= link_to "Friend Requests", friendships_path %>
    </p>
<% else %>
    <%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Sign in", new_user_session_path %>
<% end %>

<%= yield %>

</body>
</html>
